.popover p{
    text-align: center;
    padding: 10px;
    margin: 5px 0 !important;
}

.popover img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin: 10px 0 0 3px;
}

.popover h3{
    margin:0 !important;
}

.popover .btn{
    width: 100%;
    margin-bottom: 15px;
}



.person{
    cursor: pointer;
    margin-right: 5%;
}

.person:hover {
    -webkit-transform: perspective(1px) scale(0.98) translateZ(0);
    transform: perspective(1px) scale(0.98) translateZ(0);
  }