.main-footer {
    padding-top:1em;
    bottom:0;
    width: 100%;
    margin: 0 auto !important;
    height:auto;
	position: relative;
	display:block;
	background-color: #7aadeb !important;
	box-sizing:border-box;
	border-color: #2073d9 !important;
	
	
    /* background-image: url('../../img/ico.webp');
	background-repeat: no-repeat;
    background-position: left; */
	
}
.Footer {
padding:0 auto;
width: 100%;
color:black;


}
.main-footer  {
	display:inline-block;
	vertical-align:top;
	position:relative;
	justify-content: center;
	

}
.background {
background-color: #7aadeb !important;
border-color: #2073d9 !important;
padding:15px;

border: solid 2px;
box-sizing: border-box;
margin:0 auto;

}
.FooterTwo {
    text-align:center;
	background-color: #7aadeb !important;
}

.list-unstyled li{
	padding:15px;
	margin-bottom: 10px;
	font-size: 15px;
	text-align: center;
	
}

.h4 {
	font-size: 32px;
    margin-top: 72px;
    margin-bottom: 48px;
    text-align: center; 
    text-transform: uppercase;
	
}
p {
    font-weight: 30;
    margin-bottom: 32px;
    line-height: 1.8;
	font-family: 'Poppins', sans-serif;
	margin-top:20px;
	
}
h3 {
    font-size: 22px;
    margin-top: 36px;
    margin-bottom: 36px;
    line-height: 36px;
	text-align: center;
	
}
.list-unstyled-link {
	padding:15px;
	text-decoration: underline;
}
/* .IntroImg {
	width:10%
} */
.Twit {
color: #49a1eb;
padding-right:10px;
}
.Insta {
color:black;
}
.Face {
color: #4968ad;
}
.YouTube {
color: #eb3223;

	

}

.background-social{
	display: flex;
	justify-content: space-around;
	/* border: solid; */
}