.UserLPage .container{
  margin-bottom: 100px !important;
}

.UserLPage .card{
    width: 100% !important;
    text-align: center !important;

}

.UserLPage p{
  margin: 8px 0 !important;
}

.UserLPage h2{
    text-align: center;
    margin-bottom: 30px;
}

.UserLPage img{
  width: 100%;
}

.UserLPage a{
  cursor: pointer;
}

.UserLPage .card-img-top {
  height: 250px;
}


.UserLPage #dashboardbutton{
  width: 75%;
  margin-left: 12%;
 }

.UserLPage .bigButton button{
 background-color: transparent !important;
 border: none !important;
}

.UserLPage .bigButton button:hover,
.UserLPage .bigButton button:active,
.UserLPage .bigButton button:visited,
.UserLPage .bigButton button:focus{
  background-color: transparent !important;
  border-color: transparent !important;
 }

.UserLPage .content{
  margin: 20px 0;
}

.Dashboard{
    margin: 0 auto;
    padding: 50px;
    background-color: #e9f2fc;
    display: block;
    height: 100%;
    overflow-y: scroll;
  }
  

.Dashboard .close {
    cursor: pointer;
    font-weight: 600;
    font-size: 24px;
    float: right;
    color: black;
  }



  .cart-menu {
    overflow: auto;
    width: 350px;
    height: 100vh;
    position: fixed;
    right: -80%;
    top: 0;
    transition: 1200ms ease;
  }
  
  .cart-menu.active {
    right: 0;
    transition: 800ms ease;
  }

