.orange {
    color: orange
}


input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition:  color 200ms ;
}

/* .searchVideos{
    border:solid;
} */

@media (max-width:991px){
    .searchVideos iframe{
        height: 300px;
    }
}
