.blue {
    color: gold;
}

.displayVideo .svg-inline--fa {
    font-size: 2.5vw;
    color: lightgray;
}



input[type="radio"] {
    display: none;
}

.star {
    cursor: pointer;
    transition:  color 200ms ;
}

/* .searchVideos{
    border:solid;
} */

@media (max-width:991px){
    .searchVideos iframe{
        height: 300px;
    }
}

/* .searchVideos .video{
    width: 18rem;
} */

.searchVideos .video:hover{
    -webkit-transform: perspective(1px) scale(0.98) translateZ(0);
  transform: perspective(1px) scale(0.98) translateZ(0);
}

.searchVideos .video .card-title, .searchVideos .video .card-text{
    text-align: center;
}

.searchVideos .VideoCard{
    margin: 30px 0;
}

.searchVideos button{
    width: 100%;
    margin-right: 25px;
    min-height: 50px;
    letter-spacing: 3px !important;
}

.searchVideos .list-group-item{
    text-align: center;
}

.searchVideos .filters{
    margin: 40px auto;
    width: 97%;
    height: 100px;
}

.searchVideos .filters input{
    width: 80%;
    height: 50px;
    margin: 0 !important;
    border-top-left-radius: 0 !important;
    border-bottom-left-radius: 0 !important;
}

.searchVideos .filters select{
    width: 20%;
    height: 50px;
    margin: 0 !important;
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
    background-color: rgb(250,250,250);
    /* box-shadow: rgb(230,230,230) inset; */
    box-shadow: 3px 3px 15px 15px rgb(245,245,245) inset;
}

.displayVideo .card{
    margin: 50px 0;
    box-shadow: 10px 10px 8px 3px  rgb(170, 170, 170);
    text-align: center;
}

.displayVideo .form-elem{
    border: solid rgb(182, 182, 182) 1px;
    border-radius: 10px;
    height: 500px;
    width: 95%;
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 3px rgb(153, 153, 153);
}

.displayVideo .reviewHeader{
    box-shadow: 1px 1px 3px rgb(153, 153, 153);
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom: 1px rgb(182, 182, 182) solid;
    padding: 20px 0;
    margin-bottom: 15px !important;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1;
    text-align: center;
    
}

.displayVideo .form-content{
    padding: 0 20px;
}

.displayVideo .form-elem button{
    height: 50px;
    width: 100%;
}

.displayVideo .stars:hover {
    cursor: pointer;
}

.displayVideo .row{
    margin-bottom: 60px;
}


/* .searchVideos .filters .form-inline{
    justify-content: space-between;
} */