.ShowRating, .MyVideos{
    border: 1px rgb(182, 182, 182) solid;
    border-radius: 10px;
    height: 500px;
    width: 400px;
    background-color: rgb(248, 248, 248);
    box-shadow: 1px 1px 3px rgb(153, 153, 153);
    overflow-y: auto;
}

.ShowRating .heading, .MyVideos .heading{
    box-shadow: 1px 1px 3px rgb(153, 153, 153);
    border-radius: 3px;
    border-bottom: 1px rgb(182, 182, 182) solid;
    padding: 20px 0;
    margin-bottom: 15px !important;
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: sticky;
    top: 0;
    z-index: 1;
 
}

.ShowRating .heading{
    text-align: left;
    background-image: url(../../SVG/undraw_reviews_lp8w.svg);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: bottom right;
}


.ShowRating .toast .toast-header button{
    display: none;
}

.ShowRating .toast .toast-header{
    height: 40px;
}

.ShowRating .toast{
    margin: 10px auto;
}

.ShowRating .toast:nth-of-type(4n+2) .toast-header{
    background-image: linear-gradient(to right, rgba(32, 115, 217, 0.1) 0%, white 80%);
}

.ShowRating .toast:nth-of-type(4n+3) .toast-header{
    background-image: linear-gradient(to right, rgba(255, 0, 0, 0.1) 0%, white 80%);
}

.ShowRating .toast:nth-of-type(4n+4) .toast-header{
    background-image: linear-gradient(to right, rgba(102, 255, 51, 0.1) 0%, white 80%);
}

.ShowRating .toast:nth-of-type(4n+5) .toast-header{
    background-image: linear-gradient(to right, rgba(255, 255, 0, 0.1) 0%, white 80%);
}

.ShowRating img{
    height: 20px;
    width: 20px;
    border-radius: 50%;
}

.ShowRating .react-stars{
    margin-right: 20px;
}

.ShowRating small{
    width: 90px;
    text-align: right;
    
}

.MyVideos .heading{
    text-align: right;
    background-image: url(../../SVG/undraw_video_files_fu10.svg);
    background-repeat: no-repeat;
    background-size: contain;
    padding-right: 30px;
}

.MyVideos .Trash, .card-header{
   cursor: pointer;
}

/* .slide-out-right{
	-webkit-animation: slide-out-right 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
	        animation: slide-out-right 1s cubic-bezier(0.755, 0.050, 0.855, 0.060) both;
} */


.rotateUp {
	-webkit-animation: rotateUp 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotateUp 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.rotateDown {
	-webkit-animation: rotateDown 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: rotateDown 0.4s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}


.Upload{
    min-height: 600px;
    background-image: url(../../SVG/undraw_uploading_go67.svg);
    background-size: 140%;
    background-position: -30px -150px;
    background-repeat: no-repeat;
    border: solid white;
}

.UploadForm {
    width:  45%;
    height: 250px;
    position: absolute;
    top: 190px;
    left: 150px;
}

.UploadButton{
    width: 90%;
    margin: 0 auto;
}

.Upload .form-control, .form-file{
    box-shadow: 10px 10px rgb(87, 87, 87);
}

.Upload .form-file {
    border: lightgrey solid;
    border-width: 1px;
    padding: 5px 10px;
    border-radius: 5px;
    background-color: white;
}

.Upload .mandatory{
    position: absolute;
    left: -10px;
    color: red;
}

.Upload .or{
    transform: rotate(-90deg);
    position: absolute;
    left: -25px;
    top: 140px;
}

@media (max-width:991px){
    .Upload{
        min-height: 400px;
        background-image: url(../../SVG/undraw_uploading_go67.svg);
        background-size: 180%;
        background-position: -90px -130px;
        background-repeat: no-repeat;
        border: solid white;
    }

    .UploadForm {
        width:  45%;
        height: 250px;
        position: absolute;
        top: 130px;
        left: 60px;
    }
}


@-webkit-keyframes rotateDown {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  @keyframes rotateDown {
    0% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
    100% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
  }
  


 @-webkit-keyframes rotateUp {
    0% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
  @keyframes rotateUp {
    0% {
      -webkit-transform: rotate(180deg);
              transform: rotate(180deg);
    }
    100% {
      -webkit-transform: rotate(0);
              transform: rotate(0);
    }
  }
/*   
  @-webkit-keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
      visibility: hidden;
    }
  }
  @keyframes slide-out-right {
    0% {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: translateX(1000px);
              transform: translateX(1000px);
      opacity: 0;
      visibility: hidden;
    }
  }
   */
