/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Exo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* font-family: 'Play', sans-serif; */
  /* font-family: 'ABeeZee', sans-serif; */
  /* font-family: 'Exo', sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    font-size: 72px;
    line-height: 1.6;
    margin-bottom: 42px;
    font-weight: 700;
}

h2{
    font-size: 24px;
    letter-spacing: 3px; 
    font-weight: 500;
    /* text-transform: uppercase; */
}

h3 {
    font-size: 18px;
    margin-top: 36px;
    margin-bottom: 24px;
    line-height: 36px;
}

h4{
    font-size: 32px;
    margin-top: 72px;
    margin-bottom: 48px;
    text-align: center; 
    text-transform: uppercase;
}

h5{
    font-size: 24px;
    margin-top: 16px;
    margin-bottom: 16px;
    text-align: center; 
}


p {
    font-weight: 300;
    margin-bottom: 32px;
    line-height: 1.8;
}


.btn-primary {
  background-color: #7aadeb !important;
  border-color: #7aadeb !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #2073d9 !important;
  border-color: #2073d9 !important;
}

.jumbotron{
    background-color:  #e9f2fc !important;
    text-align: center;
}

.button:hover{
    cursor: pointer;
}
.table {
  margin: 0 auto 20px;
}


.today {
  background-color:#2073d9 !important;
  color: #fff;
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.container{
    width: 70% !important;

}

