/* @import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Play&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=ABeeZee:ital@1&display=swap'); */
/* @import url('https://fonts.googleapis.com/css2?family=Exo&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c:wght@300;400;500;700&display=swap');

h1,
h2,
h3,
h4,
h5,
h6,
p {
  /* font-family: 'Play', sans-serif; */
  /* font-family: 'ABeeZee', sans-serif; */
  /* font-family: 'Exo', sans-serif; */
  font-family: 'M PLUS Rounded 1c', sans-serif;
}

h1 {
    font-size: 50px !important;
    line-height: 1.6 !important;
    margin-bottom: 42px !important;
    font-weight: 500 !important;
}

h2{
    font-size: 24px !important;
    letter-spacing: 3px !important; 
    font-weight: 500 !important;
    /* text-transform: uppercase; */
}

h3 {
    font-size: 18px !important;
    margin-top: 36px !important;
    margin-bottom: 24px !important;
    line-height: 36px !important;
}

h4{
    font-size: 32px !important;
    margin-top: 72px !important;
    margin-bottom: 48px !important;
    text-align: center !important; 
    text-transform: uppercase !important;
}

h5{
    font-size: 24px !important;
    margin-top: 16px !important;
    margin-bottom: 16px !important;
    text-align: center !important; 
}


p {
    font-weight: 300 !important;
    margin-bottom: 32px !important;
    line-height: 1.8 !important;
}


.btn-primary {
  background-color: #7aadeb !important;
  border-color: #7aadeb !important;
}
.btn-primary:hover,
.btn-primary:active,
.btn-primary:visited,
.btn-primary:focus {
  background-color: #2073d9 !important;
  border-color: #2073d9 !important;
}

.jumbotron{
    background-color:  #e9f2fc !important;
    text-align: center;
}

.button:hover{
    cursor: pointer;
}
.table {
  margin: 0 auto 20px;
}


.today {
  background-color:#2073d9 !important;
  color: #fff;
}

.in-prev-month,
.in-next-month {
  opacity: 0.5;
}

.container{
    width: 70% !important;

}

