.UpdateProfil{
    padding: 0 0 25px 0 !important;
    margin: 40px auto 100px auto; 
}

.UpdateProfil .jumbotron{
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.UpdateProfil .inner{
    width: 80%;
    margin: 50px auto 20px auto;

}

.UpdateProfil img{
    height: 150px;
    width: 150px;
    border-radius: 50%;
    margin-left: 15%;

}

.UpdateProfil h1{
    text-align: center;
}

.UpdateProfil h2, h3, h4{
    margin: 10px 0 !important;
}

.UpdateProfil .formImg{
    padding: 10px;
    border: 1px solid rgb(207, 207, 207);
    border-radius: 10px;
    width: 100%;

    
}

.UpdateProfil .header{
    display: flex;
    align-items: center;
    margin-bottom: 30px;
}

.UpdateProfil button{
    width: 100%;
    
}

.UpdateProfil .discardChanges{
    text-align: right;
}

/* .UpdateProfil .form-control{
    text-align: right;
} */

